@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 172px);
    padding-right: calc(50% - 172px);
  }

  .header {
    background: url(../images/header-background-mobile.jpeg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
      width: 296px;
    }

    &__text {
      width: 296px;
    }

    &__button {
      width: 285px;
    }
  }

  .games-info {
    display: none;
  }

  .main {
    padding-top: 48px;
    padding-bottom: 48px;

    &__separate-line {
      display: none;
    }
  }

  .mini-games {
    margin-top: 0;

    &__title {
      text-align: left;
    }

    &__the-game {
      height: 100%;
    }

    &__image {
      width: 343px;
      height: 284px;
    }

    &__textbox {
      width: 343px;
      padding: 29px 29px 32px 29px;
      height: 100%;
    }

    &__name {
      position: static;
      color: $color-dark;
    }

    &__description {
      margin-top: 16px;
      margin-bottom: 32px;
    }

    &__button {
      position: static;
    }
  }

  .footer {
    height: 100px;

    &__rights {
      padding-top: 40px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}

@media (max-width: 374px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
}
